/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/

#showall_button {
	margin-top:4px;
	margin-right:6px;
}

#chart-stats {
	margin-top:-24px
}

.duLabel {
	font-size: 10px;
	font-style: italic;
}

.mycolor {
    color:  #F90
}


.main {
	margin-top:15px
}

tr.late {
	background-color:#f90;
	cursor: pointer;
}

tr.missing {
	background-color:#bbb;
	cursor: pointer;
}

tr.unexpected {
	background-color:#888;
	cursor: pointer;
}