
/*------------------------------------------------------------------

[Login/Signup Stylesheet]

	Project:		Base Admin
	Version:		1.0
	Last change:	05/21/2012
	Assigned to:	Rod Howard (rh)

-------------------------------------------------------------------*/




/** Base Body Styles **/
body{ color:#838383; font: 13px/1.7em 'Open Sans';}


.account-container {
	width: 460px; 
	display: block;
	margin: 30px auto 40px auto;
	
	background: #f9f9f9;
	
	border: 1px solid #d5d5d5;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;


}


	.login-action {float: right; margin-top: 18px;}

.content {
	padding: 16px 28px 23px;
} 

.login-fields {
	
}

.login-fields .field {
	margin-bottom: 1.25em;
}

.login-fields label {
	display: none;
}

.login-fields input {
	font-family: 'Open Sans';
	font-size: 13px;
	color: #8e8d8d;
	padding: 11px 15px 10px 50px;
	background-color: #fdfdfd;
	width: 100%;
	display: block;
	margin: 0;
	box-shadow: inset 2px 2px 4px #f1f1f1;
	height: 40px;
}

.login-fields  select{
	font-family: 'Open Sans';
	font-size: 13px;
	color: #8e8d8d;
	padding: 11px 15px 10px 3px;
	background-color: #fdfdfd;
	width: 100%;
	display: block;
	margin: 0;
	box-shadow: inset 2px 2px 4px #f1f1f1;
	height: 40px;
}

.username-field { background: url(../../img/signin/user.png) no-repeat; }

.password-field { background: url(../../img/signin/password.png) no-repeat; }




.login-actions {
	float: left;
	
	width: 100%;
	
	margin-top: -1em;
	margin-bottom: 1.25em;
}


.account-container h1 {
	margin-bottom: .4em;
	
	color: #f90;

	font-size: 32px;
}



.register .login-actions {
	margin-bottom: 0;
}

.register .login-fields input {
	width: 399px;
	padding-left: 6px;
}

.register h1 {
	color: #444;
}



@media (max-width: 480px) {
	
	.account-container {
		width: 280px;	
		margin-top: 35px;
	}
	
	.login-fields input {
		width: 160px;
	}
	
	.login-social {
		width: 100%;
	}
	
	.twitter {
		display: block;
		margin-bottom: 1em;
	}
	
	.register .login-fields input {
		width: 204px;
		padding-left: 6px;
	}
	
}